In [76]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup

In [77]:
url = "https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating"
response = requests.get(url)
soup =  BeautifulSoup(response.content, 'html.parser')
#print(soup.prettify)

In [78]:
movie_name = []
year = []
time = []
rating = []
metascore = []
votes = []
gross = []

In [79]:
movie_data = soup.findAll('div', attrs = {"class":"lister-item mode-advanced"})

In [80]:
for store in movie_data:
  name = store.h3.a.text
  movie_name.append(name)

  year_of_released = store.h3.find("span",class_="lister-item-year text-muted unbold").text.replace('(','').replace(')','')
  year.append(year_of_released)

  runtime = store.p.find("span",class_="runtime").text.replace("min"," ")
  time.append(runtime)

  rate = store.find("div", class_="inline-block ratings-imdb-rating").text.replace('\n','')
  rating.append(rate)

  meta = store.find('span', class_="metascore").text.replace(' ', '') if store.find('span', class_="metascore") else "***"
  metascore.append(meta)

  value = store.find_all('span', attrs={"name":"nv"})
  vote = value[0].text
  votes.append(vote)

  grosses = value[1].text if len(value)>1 else '###'
  gross.append(grosses)

In [81]:
print(gross)

['$28.34M', '$134.97M', '#16', '$534.86M', '$96.90M', '$57.30M', '$4.36M', '$377.85M', '$107.93M', '$292.58M', '$37.03M', '$315.54M', '$330.25M', '$6.10M', '$342.55M', '#235', '###', '###', '$188.02M', '$46.84M', '$171.48M', '$112.00M', '$290.48M', '###', '$136.80M', '$100.13M', '$130.74M', '$322.74M', '$216.54M', '$10.06M', '$204.84M', '$7.56M', '$57.60M', '$0.27M', '#21', '#46', '###', '$53.37M', '$132.38M', '$13.09M', '$19.50M', '$210.61M', '$187.71M', '$53.09M', '$78.90M', '$1.02M', '$422.78M', '$6.72M', '$32.57M', '$23.34M', '$32.00M', '$13.18M', '$5.32M', '#45', '$36.76M', '$11.99M', '$0.16M', '$0.02M', '###', '$190.24M', '$858.37M', '$248.16M', '$678.82M', '$44.02M', '$335.45M', '$162.81M', '$0.71M', '$83.47M', '$25.54M', '$448.14M', '#93', '$85.16M', '$5.02M', '$209.73M', '$223.81M', '$51.97M', '$11.29M', '$1.66M', '$0.28M', '$11.49M', '#60', '$6.53M', '$8.18M', '#61', '$0.29M', '#86', '###', '###', '###', '###', '$718.73M', '$67.44M', '$138.43M', '$120.54M', '$130.10M', '$3.64M', '$75.60M', '$45.60M', '$5.32M', '$56.95M']

In [82]:
movie_DF = pd.DataFrame({"name_of_movie":movie_name, "year_of_released":year, "duration":time, "rating":rating,"metascore":metascore,"vote":votes, "gross_of_movie":gross})

In [83]:
movie_DF.head()

,name_of_movie,year_of_released,duration,rating,metascore,vote,gross_of_movie
0,The Shawshank Redemption,1994,142,9.3,82,"2,747,322",$28.34M
1,The Godfather,1972,175,9.2,100,"1,910,782",$134.97M
2,Spider-Man: Across the Spider-Verse,2023,140,9.1,86,"50,471",#16
3,The Dark Knight,2008,152,9.0,84,"2,719,947",$534.86M
4,Schindler's List,1993,195,9.0,95,"1,385,840",$96.90M

In [84]:
movie_DF.to_csv("Top1000 IMDB Movies.csv")